<h1>Signup</h1>
<form method="POST">
    <div>
        <label for="FirstName">First Name: </label>
        <input type="text" name="firstName">
        <br>
        <label for="LastName">Last Name: </label>
        <input type="text" name="lastName">
        <br>
        <label for="Username">Username: </label>
        <input type="text" name="username">
        <br>
        <label for="Password">Password: </label>
        <input type="password" name="password">
        <br>
        <label for="Email">Email: </label>
        <input type="text" name="email">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>